/* 
  Navbar styles
*/
.navbar_header {
  background: #242424;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: sticky;
  top: -0.1rem;
  z-index: 2;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: cener;
}

/* 
  Logo styles
*/
.logo {
  font-family: 'Lobster', cursive;
  font-size: 2.4rem;
}
/* 
  Side Nav styles for slide in navigation
*/
.side_nav {
  position: fixed;
  right: 0;
  top: 0rem;
  background: #fff;
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side_nav li {
  margin-top: 4.8rem;
  width: 75%;
}

.side_nav li:last-of-type {
  border: 0.2rem solid #242424;
  padding: 1.2rem;
  text-align: center;
  border-radius: 0.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.side_nav a {
  color: #242424;
}

.show_nav {
  width: 25rem;
}

/* 
  hamburger menu styles
*/

.hamburger {
  border: none;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 80vh;
  z-index: 2;
  background: #242424;
  padding: 0.9rem 1rem;
  width: 4.2rem;
  height: 4rem;
  display: flex;
  border-radius: 0.4rem;
  justify-content: space-between;
  top: 89vh;
  left: 0;
  right: 2.38rem;
  bottom: 0;
  margin-left: auto;
}

.hamburger div {
  width: 14%;
}

.bar {
  display: block;
  width: 100%;
  height: 0.3rem;
  margin-bottom: 0.7rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(72, 255, 0);
  border-radius: 100%;
}

.bar:last-of-type {
  margin-bottom: 0;
}

/* 
  Hamburger clicked, so display active state of an x created using
*/
.hamburger_active {
  background: #242424;
}

.hamburger_active .bar {
  background-color: rgb(72, 255, 0);
}

.hamburger_active div:nth-of-type(1) .bar:nth-of-type(2) {
  background: none;
}

.hamburger_active div:nth-of-type(2) .bar:nth-of-type(1) {
  background: none;
}

.hamburger_active div:nth-of-type(2) .bar:nth-of-type(3) {
  background: none;
}

.hamburger_active div:nth-of-type(3) .bar:nth-of-type(2) {
  background: none;
}

/* 
  Cart styles
*/

.cart {
  font-size: 2.2rem;
  position: relative;
  top: -0.3rem;
  border-radius: 2.4rem;
  cursor: pointer;
}

.cart_count {
  font-size: 1.5rem;
  position: absolute;
  top: -0.8rem;
  left: 1.2rem;
  background: green;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.1rem 0.4rem;
}

@media screen and (min-width: 1200px) {
  /* 
    Hide hamburger once exceeds 1200px
  */
  .hamburger {
    display: none;
  }
  /* 
    Adjust side to be back in navbar once exceeds 1200px
  */
  .side_nav {
    background: none;
    position: initial;
    height: initial;
    flex-direction: row;
    width: initial;
    overflow: visible;
  }

  .side_nav li {
    margin-top: 0;
  }

  .side_nav a {
    color: #fff;
    text-transform: lowercase;
  }

  .side_nav li:last-of-type {
    border: none;
    padding: initial;
    text-align: initial;
    border-radius: initial;
    font-weight: initial;
    letter-spacing: initial;
  }

  .nav_menu {
    display: flex;
    flex-direction: row-reverse;
  }

  .side_nav li {
    margin-right: 2rem;
  }
}
/* 


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_controls {
  display: flex;
  align-items: center;
}

.navbar_controls div {
  margin-right: 3rem;
}

.navbar_controls div:last-of-type {
  margin-right: 0;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}




.cart a {
  color: #242424;
}




.close_icon {
  font-size: 3rem;
  position: relative;
  left: 26.3rem;
  top: 2rem;
  margin-right: 1.5rem;
  cursor: pointer;
  color: #242424;
}

.nav_menu {
  margin-top: 4.8rem;
  padding: 2rem;
  text-align: right;
}

.nav_menu li {
  margin-bottom: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.nav_menu li a {
  font-size: 4rem;
  text-transform: lowercase;
}


.li_cart {
  display: none;
}

.nav_menu li:last-of-type a::before {
  content: 'Cart';
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
  .navbar_controls {
    display: none;
  }
  .close_icon {
    display: none;
  }

  .side_nav {
    position: static;
    background-color: none;
    backdrop-filter: none;
    height: initial;
    width: initial;
    overflow: visible;
    transition: 0.4s;
  }

  .nav_menu {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .nav_menu li {
    margin: 0;
    margin-right: 2rem;
  }

  .nav_menu li:last-of-type {
    margin-right: 0;
  }

  .nav_menu li:last-of-type a::before {
    content: '';
  }

  .nav_menu li a {
    font-size: 1.8rem;
    text-transform: lowercase;
  }

  .li_cart {
    display: initial;
  }
} */
